* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(48, 48, 46);
}

.inscription {
    width: 900px;
    margin: auto;
    margin-top: 70px;
    
    border-radius: 10px;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url("4.png");
    background-size: cover;
}


.right{
    width: 300px;
    height: 400px;
    margin: 20px;
    padding-top: 50px;
    margin-left: 50px;
    
}
.right .soumetre input{
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
    background-color: rgb(29, 29, 28);
    color: white;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button{
    margin-left: 50px;
    margin-top: 20px;
    width: 200px;
    height: 40px;
    background-color:rgb(1, 61, 151) ;
    color: white;
    border: none;
    font-size: 23px;
    border-radius: 25px;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: rgb(243, 243, 245);
}
 img{
 margin-top: 30px;
    margin-left: 50px;
   width: 30px;
   height: 30px;
}
.soumetre1{
    display: flex;
    
}
.soumetre2{
    margin-left: 5px;
    width: 150px;
}
input::placeholder{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    
}

#select{
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
    background-color: rgb(29, 29, 28);
    color: rgb(106, 107, 107);
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}
@media screen and (max-width:906px) and (min-width:451px){
    .inscription{
       width: 700px;
       background-size: cover;  
       background-image: url("5.png");
    }
}



@media screen and (max-width:450px)and (min-width:0px){
    .inscription{
       width: 380px;
       background-size: cover;  
       background-image: url("6.png");
    }
    .right{
        margin-right: 50px;
    }
    h1{
        font-size: 25px;
    }
    button{
        margin-right: 30px;
    }
}

.soumetre3{
    width: 150px;
}

.h1{
    margin: 90px;
    width: 400px;
    height: 50px;
    margin-top: 10px;
   
}